a, a:hover, a:active, a:visited {
	text-decoration: inherit;
	color: inherit;
	outline: none;
}

#content a, footer a,
#content a:hover, footer a:hover {
	color: rgb(120, 120, 255);
}

#content a:hover, footer a:hover {
	text-decoration: underline;
}

header a, nav a {
	padding: 0.2em 0;
}

header a {
	padding: 0 1em;
	font-size: 2.6em;
	font-weight: bold;
}

nav a::before {
	border-left: 1px solid rgb(200, 200, 200);
}
nav a:hover::before {
	border-left-color: rgb(160, 160, 255);
}

nav a {
	font-size: 2em;
}

h1 {
	text-align: center;
}

/* structural */

html, body {
	height: 100%;
}

body {
	width: 80%;
	min-width: 40em;
	margin: auto;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

body > * {
	flex-grow: 0;
}

body > #content {
	flex-grow: 1;
}

body > #header {
	margin: 1.2em 0;

	display: flex;
	align-items: center;
}

body > #header > header {
	text-align: center;
}

body > #header > nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

body > #header > nav > * {
	flex-grow: 0;
}

body > #header > nav > a::before {
	content: "";
	height: 0.8em;
	width: 1px;
	display: inline-block;
	vertical-align: middle;
}
body > #header > nav > a::before {
	margin-right: 1em;
}

body > #header > nav > a {
	display: inline-block;
	white-space: nowrap;
	padding-right: 1em;
	margin-left: 1em;
}

body > #header > nav > a + a {
	margin-left: 0;
}

body > #content {
	width: 80%;
	margin: auto;
}

body > footer {
	min-width: 100%;
	text-align: center;
	margin: 1.2em 0;
}
